*.zip
*.npz
*.pyc
*.pt
*.pkl
!deploy/caiest_cnn/data/cnn.pkl
train/caiest_repro/arch_ck/
train/caiest_repro/log/
*.log
*.bak
*.bak2
deploy/ship/*.pkl
others/
data/agents2025/
data/raw/
train/jax_env/*.npy
